extends layout

block content
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="/plugins/css/buttons-datatable.min.css")
    link(rel="stylesheet", href="/plugins/css/bootstrap-calender.min.css")

    section#section.bg_fade
        .container
            .row.mt-2.mb-2
                .col-md-12.text-center
                    h4 Activated QR List

            .row(style="margin-top:50px;")
                .col-md-12.col-sm-12
                    table#qrTable.table.table-striped.table-bordered.table-hovered.table-responsive(style='width:100%; font-size: 14px;')
                        thead
                            th QR ID
                            th User Name
                            th User Phone No
                            th Machine ID
                            th Machine Status
                            th Code
                            th Is Used
                            th Activated
                            th Download QR
                        tbody 
            
            //QR Delete Modal
            #qrDeleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='qrDeleteModalTitle', aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header.bg-danger.text-center
                            h5#processDeleteModalTitle.modal-title(style="color:white") Are you sure you want to delete process?
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .modal-body
                            form#qrDelForm
                                .form-group.mt-3
                                    label.form-label(for='confirmDel') Enter confirm to delete process.
                                    input#confirmDel.form-control(type="text",name="confirmDel",required='',placeholder='confirm')
                                .form-group.text-right
                                    button.btn.btn-primary(type='submit') Save
    include ./utils/footer
    script(src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type='text/javascript')
    script(src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript")
    script(src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js" type="text/javascript") 
    script(src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js" type="text/javascript")
    script(src="/plugins/js/moment.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js", type='text/javascript')
    script(src="/js/admins/qrlist.js")
    