footer
    .mini-footer
        .container
            .row
                .col-md-12
                    .copyright-text
                        p
                            | © 2020
                            a(href='https://www.pleodata.com' target='_blank')  PleoData
                            | . All rights reserved. Created by
                            a(href='https://www.linkedin.com/in/han-myat-thu-879046182/' target='_blank')  Draz
                    
